{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="/static/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="/static/bower_components/codemirror/mode/python/python.js"></script>
{% endblock %}

{% block css_index %}
    {{ super() }}
    <link rel="stylesheet" href="/static/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/bower_components/codemirror/theme/monokai.css">
    <style>
        .form-request-data{
            width:100%;
            height:200px;
        }
        .rowitem{
            margin-top:10px
        }
        .support_method{
            border:1px solid grey;
            height:300px;
        }
    </style>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block jobclass %}
{% endblock %}

{% block apiclass %}
active
{% endblock %}

{% block caseclass %}
{% endblock %}


{% block container%}
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#newapipanel" aria-controls="newapipanel" role="tab" data-toggle="tab">新增接口</a></li>
    <li role="presentation"><a href="#allapipanel" aria-controls="allapipanel" role="tab" data-toggle="tab">所有接口</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="newapipanel">
        <div class="panel-body">
<!-- newapipanel begin -->
            <div class="row rowitem">
                <div class="col-lg-9">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="method-btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GET <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" class="method-item" onclick="refreshdata()" data-toggle="collapse" data-target="#requestdatadiv" aria-expanded="false" aria-controls="requestdatadiv">GET</a></li>
                                <li><a href="javascript:void(0)" class="method-item" onclick="refreshdata()" data-toggle="collapse" data-target="#requestdatadiv" aria-expanded="false" aria-controls="requestdatadiv">POST</a></li>
                            </ul>
                        </div>
                        <input id="url" class="form-control" type="text" placeholder="请求地址" required>
                    </div>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:;" onclick="sendrequest()" class="btn btn-primary">请求</a>
                    <a href="javascript:;" onclick="saveapi()" class="btn btn-warning">保存</a>
                </div>
            </div>
    <!-- request data set begin -->
            <div class="row rowitem collapse" id="requestdatadiv">
                <div class="col-lg-9">
                    请求参数：
                    <textarea id="requestdata" name="requestdata" class="form-request-data"></textarea>
                    <script>
                        var requestmirror = CodeMirror.fromTextArea(document.getElementById('requestdata'), {
                            indentUnit: 4,
                            lineNumbers: true,
                            smartIndent: true,
                            lineWrapping:true,
                            mode: "python"
                        });
                        requestmirror.setSize("100%","100px")
                    </script>
                </div>
            </div>
    <!-- request data set end -->
    <!-- request header set begin -->
            <div class="row rowitem">
                <div class="col-lg-9">
                    Request:
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#req-auth" aria-controls="req-auth" role="tab" data-toggle="tab">Auth</a></li>
                        <li role="presentation"><a href="#req-headers" onclick="refreshheader()" aria-controls="req-headers" role="tab" data-toggle="tab">Headers</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="req-auth">
                            <div class="panel-body" id="req-headers-panel" style="height:150px">
                                no headers
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="req-headers">
                            <textarea id="headerarea"></textarea>
                            <script>
                                var headermirror = CodeMirror.fromTextArea(document.getElementById('headerarea'),{
                                    indentUnit: 4,
                                    lineNumbers: true,
                                    smartIndent: true,
                                    lineWrapping:true,
                                    mode: "python"
                                })
                                headermirror.setSize("100%","150px")
                            </script>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3"></div>
            </div>
    <!-- request header set end-->

    <!-- response header set begin-->
            <div class="row rowitem">
                <div class="col-lg-9">
                    Response:
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="#resp-body" aria-controls="resp-body" role="tab" data-toggle="tab">Body</a></li>
                        <li role="presentation"><a href="#resp-headers" aria-controls="resp-headers" role="tab" data-toggle="tab">Headers</a></li>
                        <li role="presentation"><a href="#resp-cookies" aria-controls="resp-cookies" role="tab" data-toggle="tab">Cookies</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="resp-body">
                            <textarea id="responsearea"></textarea>
                            <script>
                                var respmirror = CodeMirror.fromTextArea(document.getElementById('responsearea'),{
                                    indentUnit: 4,
                                    lineNumbers: true,
                                    lineWrapping:true,
                                    mode: "python",
                                    theme: "monokai"
                                })
                                respmirror.setSize("100%","150px")
                            </script>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="resp-headers" style="height:150px">
                            <div class="panel-body" id="resp-headers-panel">
                                no headers
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="resp-cookies" style="height:150px">
                            <div class="panel-body" id="resp-cookies-panel">
                                no cookies
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3"></div>
            </div>
    <!-- response header set end-->
<!-- newapipanel end-->
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="allapipanel">
        <div class="panel-body">
<!-- allapipanel begin-->
            <div class="rowitem">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>请求类型</th>
                            <th>接口名称</th>
                            <th>url地址</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for api in apis %}
                        <tr>
                            <td>{{ api.type}}</td>
                            <td>{{ api.name }}</td>
                            <td>{{ api.url }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
<!-- allapipanel end-->
        </div>
    </div>
</div>
{% endblock %}



{% block script_index %}
    {{ super() }}
    <script>
        $(function(){
            $("#url").val(sessionStorage.url)

            $("#url").on('input',function(e){
                sessionStorage.url = $(this).val()
            });

            if(sessionStorage.method){
                $("#method-btn").html(sessionStorage.method+' <span class="caret"></span>')
            }else{
                sessionStorage.method = "GET"
            }

            $(".method-item").click(function(){
                $("#method-btn").html($(this).html()+' <span class="caret"></span>')
                sessionStorage.method = $(this).html();
            })

        })

        function refreshdata(){
            setTimeout(function(){
                requestmirror.refresh();
                requestmirror.focus();
            },200);
            requestmirror.refresh();
        }

        function refreshheader(){
            setTimeout(function(){
                headermirror.refresh();
                headermirror.focus();
            },200);
            headermirror.refresh();
        }

        function sendrequest(){
            method = sessionStorage.method
            url = $("#url").val()
            if(!url){
                $("#url").focus()
                layer.msg("url不允许为空")
                return
            }
            data = requestmirror.getDoc().getValue()

            $.ajax({
                url: "/testapi",
                type: "post",
                async: true,
                data: {"method":method,"url":url,"data":data},
                error: function(request){
                    layer.msg(request.status)
                },
                success: function(data){
                    if(data.result){
                        body = data.response.data
                        headers = data.response.headers
                        cookies = data.response.cookies
                        respmirror.setValue(body)
                        respmirror.refresh()
                        if(headers){
                            $("#resp-headers-panel").html(JSON.stringify(headers))
                        }else{
                            $("#resp-headers-panel").html("headers内没有内容")
                        }
                        if(cookies){
                            $("#resp-cookies-panel").html(JSON.stringify(cookies))
                        }else{
                            $("#resp-cookies-panel").html("cookies内没有内容")
                        }

                    }else{
                        layer.msg("请求失败:"+ data.errorMsg)
                        respmirror.setValue(data.errorMsg)
                        respmirror.refresh()
                    }
                }
            })
        }

        function saveapi(){
            method = sessionStorage.method
            url = $("#url").val()
            if(!url){
                $("#url").focus()
                layer.msg("url不允许为空")
                return
            }
            reqdata = requestmirror.getDoc().getValue()
            respdata = respmirror.getDoc().getValue()
            reqheader = $("#req-headers-panel").html()
            respheader = $("#resp-headers-panel").html()
            layer.prompt(
                {
                    title: '为该接口起个名字吧',
                    formType: 0
                }, function(text){
                    $.ajax({
                        url: "/saveapi",
                        type: "post",
                        data: {"name":text,"method":method,"url":url,"reqdata":reqdata,"respdata":respdata,"reqheader":reqheader,"respheader":respheader},
                        error: function(request){
                            layer.msg(request.status)
                        },
                        success: function(data){
                            layer.msg(data)
                        }
                    })
                }
            );

        }
    </script>
{% endblock %}
