{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block css_index %}
    {{ super() }}
    <style>
        .rowitem{
            margin-top:10px
        }
    </style>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block jobclass %}
{% endblock %}

{% block apiclass %}
active
{% endblock %}

{% block caseclass %}
{% endblock %}


{% block container%}
<div class="modal fade" id="gridSystemModal" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="gridSystemModalLabel">修改接口信息</h4>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon">名 称 </span>
                    <input type="text" id="edit-name" maxlength="30" class="form-control">
                </div>
                <div class="input-group rowitem">
                    <div class="input-group-btn">
                        <button class="btn btn-default dropdown-toggle" id="edit-method-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GET <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a class="edit-method-item" id="edit-method-GET">GET</a></li>
                            <li><a class="edit-method-item" id="edit-method-POST">POST</a></li>
                            <li><a class="edit-method-item" id="edit-method-PUT">PUT</a></li>
                            <li><a href="javascript:void(0)" class="method-item">DELETE</a></li>
                        </ul>
                    </div>
                    <input id="edit-url" class="form-control" maxlength="120" type="text" placeholder="请求地址" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closemodal" data-dismiss="modal">取消</button>
                <button type="button" id="saveedit" class="btn btn-primary">保存修改</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#newapipanel" aria-controls="newapipanel" role="tab" data-toggle="tab">新增接口</a></li>
    <li role="presentation"><a href="#allapipanel" aria-controls="allapipanel" role="tab" data-toggle="tab">所有接口</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="newapipanel">
        <div class="panel-body">
<!-- newapipanel begin -->
            <div class="row rowitem">
                <div class="col-lg-9">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button id="method-btn" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">GET <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:void(0)" class="method-item">GET</a></li>
                                <li><a href="javascript:void(0)" class="method-item">POST</a></li>
                                <li><a href="javascript:void(0)" class="method-item">PUT</a></li>
                                <li><a href="javascript:void(0)" class="method-item">DELETE</a></li>
                            </ul>
                        </div>
                        <input id="url" class="form-control" type="text" placeholder="请求地址" required>
                    </div>
                </div>
                <div class="col-lg-3">
                    <a href="javascript:;" onclick="sendrequest()" class="btn btn-primary">请求</a>
                    <a href="javascript:;" onclick="saveapi()" class="btn btn-warning">保存</a>
                </div>
            </div>
    <!-- request header set begin -->
            <div class="row rowitem">
                <div class="col-lg-9">
                    <ul class="nav nav-tabs">
                        <li role="presentation"><a href="#req-auth" aria-controls="req-auth" role="tab" data-toggle="tab">Auth</a></li>
                        <li role="presentation"><a href="#req-headers" onclick="refreshheader()" aria-controls="req-headers" role="tab" data-toggle="tab">Headers</a></li>
                        <li role="presentation" class="active"><a href="#req-data" onclick="refreshdata()" aria-controls="req-data" role="tab" data-toggle="tab">请求参数</a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- auth begin -->
                        <div role="tabpanel" class="tab-pane" id="req-auth">
                            <div class="panel-body" id="req-auth-panel" style="height:170px">
                                no auth
                            </div>
                        </div>
                        <!-- auth end -->
                        <!-- header begin -->
                        <div role="tabpanel" class="tab-pane" id="req-headers">
                            <textarea id="headerarea"></textarea>
                            <script>
                                var headermirror = CodeMirror.fromTextArea(document.getElementById('headerarea'),{
                                    indentUnit: 4,
                                    lineNumbers: true,
                                    smartIndent: true,
                                    lineWrapping:true,
                                    mode: "python",
                                    theme: "abcdef"
                                })
                                headermirror.setSize("100%","170px")
                            </script>
                        </div>
                        <!-- header ennd -->
                        <!-- reqdata begin -->
                        <div role="tabpanel" class="tab-pane active" id="req-data">
                            <textarea id="requestdata"></textarea>
                            <script>
                                var requestmirror = CodeMirror.fromTextArea(document.getElementById('requestdata'), {
                                    indentUnit: 4,
                                    lineNumbers: true,
                                    smartIndent: true,
                                    lineWrapping:true,
                                    mode: "python",
                                    theme: "abcdef"
                                });
                                requestmirror.setSize("100%","170px")
                            </script>
                        </div>
                        <!-- reqdata end -->
                    </div>

                </div>
                <div class="col-lg-3"></div>
            </div>
    <!-- request header set end-->

    <!-- response header set begin-->
            <div class="row rowitem">
                <div class="col-lg-9">
                    状态码: <span id="statuscode">&nbsp&nbsp&nbsp</span> 响应时间：<span id="elapsedtime">&nbsp&nbsp&nbsp</span>
                    <ul class="nav nav-tabs rowitem">
                        <li role="presentation" class="active"><a href="#resp-body" onclick="refreshbody()" aria-controls="resp-body" role="tab" data-toggle="tab">Body</a></li>
                        <li role="presentation"><a href="#resp-headers" aria-controls="resp-headers" role="tab" data-toggle="tab">Headers</a></li>
                        <li role="presentation"><a href="#resp-cookies" aria-controls="resp-cookies" role="tab" data-toggle="tab">Cookies</a></li>
                    </ul>
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="resp-body">
                            <textarea id="responsearea"></textarea>
                            <script>
                                var respmirror = CodeMirror.fromTextArea(document.getElementById('responsearea'),{
                                    indentUnit: 4,
                                    lineNumbers: true,
                                    lineWrapping:true,
                                    mode: "python",
                                    theme: "abcdef"
                                })
                                respmirror.setSize("100%","400px")
                            </script>

                        </div>
                        <div role="tabpanel" class="tab-pane" id="resp-headers" style="height:170px">
                            <div class="panel-body" id="resp-headers-panel">
                                no headers
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="resp-cookies" style="height:170px">
                            <div class="panel-body" id="resp-cookies-panel">
                                no cookies
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-lg-3"></div>
            </div>
    <!-- response header set end-->
<!-- newapipanel end-->
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="allapipanel">
        <div class="panel-body">
<!-- allapipanel begin-->
            <div class="rowitem">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>请求类型</th>
                            <th>接口名称</th>
                            <th>url地址</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="apilist">

                    </tbody>
                </table>
            </div>
<!-- allapipanel end-->
        </div>
    </div>
</div>
{% endblock %}



{% block script_index %}
    {{ super() }}
    <script>
        $(function(){
            freshapitable()

            $("#url").val(sessionStorage.url)

            $("#url").on('input',function(e){
                sessionStorage.url = $(this).val()
            });

            if(sessionStorage.reqdata){
                requestmirror.setValue(sessionStorage.reqdata)
            }
            if(sessionStorage.headerdata){
                headermirror.setValue(sessionStorage.headerdata)
            }

            if(sessionStorage.method){
                $("#method-btn").html(sessionStorage.method+' <span class="caret"></span>')
            }else{
                sessionStorage.method = "GET"
            }

            $(".method-item").click(function(){
                $("#method-btn").html($(this).html()+' <span class="caret"></span>')
                sessionStorage.method = $(this).html();
            })

            $(".edit-method-item").click(function(){
                $("#edit-method-btn").html($(this).html()+' <span class="caret"></span>')
                sessionStorage.editmethod = $(this).html();
            })

            $("#saveedit").click(function(){
                $(this).attr("disabled","disabled").html("正在保存")
                name = $("#edit-name").val()
                type = sessionStorage.editmethod
                url = $("#edit-url").val()
                id = $(this).attr("name")
                $.ajax({
                    url:"/editapi/"+id,
                    type:"post",
                    data:{"name":name,"type":type,"url":url},
                    error:function(request){
                        $("#closemodal").click()
                        $("#saveedit").removeAttr("disabled").html("保存修改")
                        layer.msg(request.status)
                    },
                    success:function(data){
                        $("#closemodal").click()
                        $("#saveedit").removeAttr("disabled").html("保存修改")
                        if(data.result){
                            $("#apitype_"+id).html(type)
                            name = '<a href="javascript:;" onclick="editcase('+id+',\''+type+'\',\''+name+'\',\''+url+'\')" data-toggle="modal" data-target="#gridSystemModal">'+name+'</a>'
                            $("#apiname_"+id).html(name)
                            $("#apiurl_"+id).html(url)
                            layer.msg("修改成功")
                        }else{
                            if(data.errorMsg){
                                layer.msg("修改失败:"+data.errorMsg)
                            }else{
                                layer.msg("该功能需登录后才能使用")
                            }
                        }
                    }
                })
            })
        })

        function refreshdata(){
            setTimeout(function(){
                requestmirror.refresh();
                requestmirror.focus();
            },200);
            requestmirror.refresh();
        }

        function refreshheader(){
            setTimeout(function(){
                headermirror.refresh();
                headermirror.focus();
            },200);
            headermirror.refresh();
        }

        function refreshbody(){
            setTimeout(function(){
                respmirror.refresh();
                respmirror.focus();
            },100);
            respmirror.refresh();
        }

        function sendrequest(){
            method = sessionStorage.method
            url = $("#url").val()
            if(!url){
                $("#url").focus()
                layer.msg("url不能为空")
                return
            }
            data = requestmirror.getDoc().getValue()
            headerdata = headermirror.getDoc().getValue()
            sessionStorage.reqdata = data
            sessionStorage.headerdata = headerdata
            respmirror.setValue("")
            $("#resp-headers-panel").html("no headers")
            $("#resp-cookies-panel").html("no cookies")
            $.ajax({
                url: "/testapi",
                type: "post",
                async: true,
                data: {"method":method,"url":url,"data":data,"headers":headerdata},
                error: function(request){
                    layer.msg(request.status)
                },
                success: function(data){
                    if(data.result){
                        body = data.response.data
                        headers = data.response.headers
                        cookies = data.response.cookies
                        statuscode = data.response.statusCode
                        $("#elapsedtime").html("<span style='color:blue;'>"+ data.response.elapsed +"s</span>")
                        if(data.response.success){
                            $("#statuscode").html("<span style='color:green'>"+ statuscode +"</span>")
                        }else{
                            $("#statuscode").html("<span style='color:red;font-weight:bold;'>"+ statuscode +"</span>")
                        }
                        try{
                            respmirror.setValue(JSON.parse(body))
                        }catch(e){
                            respmirror.setValue(body)
                        }finally{
                            respmirror.refresh()
                        }

                        if(headers){
                            $("#resp-headers-panel").html(JSON.stringify(headers))
                        }else{
                            $("#resp-headers-panel").html("headers内没有内容")
                        }
                        if(cookies){
                            $("#resp-cookies-panel").html(JSON.stringify(cookies))
                        }else{
                            $("#resp-cookies-panel").html("cookies内没有内容")
                        }

                    }else{
                        layer.msg("请求失败:"+ data.errorMsg)
                        respmirror.setValue(data.errorMsg)
                    }
                }
            })
        }

        function saveapi(){
            method = sessionStorage.method
            url = $("#url").val()
            if(!url){
                $("#url").focus()
                layer.msg("url不能为空")
                return
            }
            reqdata = requestmirror.getDoc().getValue()
            respdata = respmirror.getDoc().getValue()
            reqheader = headermirror.getDoc().getValue()
            respheader = $("#resp-headers-panel").html()
            layer.prompt(
                {
                    title: '为该接口起个名字吧',
                    formType: 0
                }, function(text){
                    $.ajax({
                        url: "/saveapi",
                        type: "post",
                        data: {"name":text,"method":method,"url":url,"reqdata":reqdata,"respdata":respdata,"reqheader":reqheader,"respheader":respheader},
                        error: function(request){
                            layer.msg(request.status)
                        },
                        success: function(data){
                            if(data.result){
                                freshapitable()
                                layer.msg("保存成功")
                            }else{
                                if(data.errorMsg){
                                    layer.msg("保存失败:"+data.errorMsg)
                                }else{
                                    layer.msg("该功能需要登录后才能使用")
                                }

                            }
                        }
                    })
                }
            );
        }

        function freshapitable(){
            $.ajax({
                url:"/freshapitable",
                type:"get",
                error:function(request){
                    layer.msg(request.status)
                },
                success:function(apitable){
                    $("#apilist").empty().append(apitable)
                }
            })
        }

        function editapi(id,type,name,url){
            $("#edit-name").val(name)
            $("#edit-url").val(url)
            $("#saveedit").attr("name",id)
            $("#edit-method-"+type).click()
        }

        function delapi(id){
            layer.confirm('确定要删除吗?',{
                btn:['确定','取消']
            },
            function(){
                $.ajax({
                    url:"/delapi/"+id,
                    type:"post",
                    error:function(request){
                        layer.msg(request.status)
                    },
                    success:function(data){
                        if(data.result){
                            layer.msg("删除成功")
                            $("#apiitem_"+id).remove()
                        }else{
                            layer.msg("删除失败:"+data.errorMsg)
                        }
                    }
                })
            },
            function(){
                layer.msg("取消删除")
            })
        }
    </script>
{% endblock %}
