{% extends "base.html" %}

{% block head %}
    {{ super() }}
    <script src="/static/bower_components/codemirror/lib/codemirror.js"></script>
    <script src="/static/bower_components/codemirror/mode/python/python.js"></script>
{% endblock %}

{% block css_index %}
    {{ super() }}
    <link rel="stylesheet" href="/static/bower_components/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="/static/bower_components/codemirror/theme/monokai.css">
    <style>
        .form-request-data{
            width:100%;
            height:200px;
        }
        .rowitem{
            margin-top:10px
        }
        .support_method{
            border:1px solid grey;
            height:300px;
        }
    </style>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block jobclass %}
{% endblock %}

{% block apiclass %}
{% endblock %}

{% block caseclass %}
active
{% endblock %}


{% block container%}

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#newcasepanel" aria-controls="newcasepanel" role="tab" data-toggle="tab">新增测试用例</a></li>
    <li role="presentation"><a href="#allcasepanel" aria-controls="allcasepanel" role="tab" data-toggle="tab">所有测试用例</a></li>
</ul>
<div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="newcasepanel">
        <div class="panel-body">
<!-- newcasepanel begin -->
            <div class="row rowitem">
                <div class="col-lg-9">
                    <ul class="list-inline">
                        <li>
                            选择测试接口：
                        </li>
                        <li>
                            <select id="apiselect" class="form-control">
                                <option value="0">请选择接口</option>
                                {% for api in apis %}
                                    <option value="{{ api.id }}">{{ api.name }}</option>
                                {% endfor %}
                            </select>
                        </li>
                        <li><a href="javascript:;" onclick="sendrequest()" class="btn btn-primary">运行</a></li>
                        <li><a href="javascript:;" onclick="saveapi()" class="btn btn-warning">保存</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                </div>
            </div>
            <div class="rowitem">测试脚本：</div>
            <div class="row rowitem">
                <div class="col-lg-9">
                    <textarea id="testscriptarea"></textarea>
                    <script>
                        var scriptmirror = CodeMirror.fromTextArea(document.getElementById('testscriptarea'),{
                            indentUnit: 4,
                            lineNumbers: true,
                            lineWrapping:true,
                            mode: "python",
                            theme: "monokai"
                        })
                        scriptmirror.focus();
                    </script>
                </div>
                <div class="col-lg-3 list-group">
                    {% for name,method in support_methods.items() %}
                        <a href="#" class="list-group-item" name="{{name}}">{{ name }}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="row rowitem">
                <div class="col-lg-9">
                    运行结果：
                    <textarea id="resultarea"></textarea>
                    <script>
                        var resultmirror = CodeMirror.fromTextArea(document.getElementById('resultarea'),{
                            indentUnit: 4,
                            lineNumbers: true,
                            lineWrapping:true,
                            mode: "python",
                            theme: "monokai"
                        })
                        resultmirror.setSize("100%","300px")
                    </script>
                </div>
                <div class="col-lg-3"></div>
            </div>
<!-- newcasepanel end-->
        </div>
    </div>

    <div role="tabpanel" class="tab-pane" id="allcasepanel">
        <div class="panel-body">
<!-- allcasepanel begin-->

<!-- allcasepanel end-->
        </div>
    </div>
</div>

{% endblock %}

{% block script_index %}
    {{ super() }}
    <script src="/static/bower_components/layer/layer.js"></script>
    <script src="/static/bower_components/json/json2.js"></script>
    <script>
        $(function(){
            sessionStorage.apis = JSON.stringify({})

            {% for api in apis %}
                tmp = JSON.parse(sessionStorage.apis)
                tmp[{{ api.id }}] = {"name":"{{ api.name|safe }}","type":"{{ api.type|safe }}","url":"{{ api.url|safe }}","headers":"{{ api.headers|safe }}","reqdata":"{{ api.reqdata|safe }}","respdata":"{{ api.respdata|safe }}"}
                sessionStorage.apis = JSON.stringify(tmp)
            {% endfor %}

            $("#apiselect").change(function(){
                scriptmirror.setValue("")
                api_id = $(this).find("option:selected").attr("value")
                sessionStorage.testapi_id = api_id
                try{
                    choicedapi = JSON.parse(sessionStorage.apis)[api_id]
                }catch(e){
                    console.log(e)
                }

            })
        })

        function sendrequest(){
            testscript = scriptmirror.getDoc().getValue()
            if(!testscript){
                layer.msg("测试脚本不能为空")
                return
            }

            $.ajax({
                url: "/runscript",
                type: "post",
                async: true,
                data: {"id":sessionStorage.testapi_id,"script":testscript},
                error: function(request){
                    layer.msg(request.status)
                },
                success: function(data){
                    if(data.result){
                        layer.msg("运行成功")
                    }else{
                        layer.msg("请求失败:"+ data.errorMsg)
                    }
                }
            })
        }
    </script>
{% endblock %}
