{% extends "base.html" %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block css_index %}
    {{ super() }}
    <style>
        .rowitem{
            margin-top:10px
        }
    </style>
{% endblock %}

{% block nav %}
    {{ super() }}
{% endblock %}

{% block jobclass %}
{% endblock %}

{% block apiclass %}
{% endblock %}

{% block caseclass %}
active
{% endblock %}


{% block container%}
<!-- newcasepanel begin -->
<div class="row rowitem">
    <div class="col-lg-9">
        <div>
            <ul class="list-inline">
                <li>
                    选择测试接口：
                </li>
                <li>
                    <select id="apiselect" class="form-control">
                        <option value="0">请选择接口</option>
                        {% for api in apis %}
                            <option value="{{ api.id }}">{{ api.name }}</option>
                        {% endfor %}
                    </select>
                </li>
            </ul>
        </div>
        <div class="rowitem">
            <ul class="list-inline">
                <li><input type="text" id="casename" class="form-control" placeholder="用例名称"></li>
                <li><input type="text" id="casedesc" class="form-control" placeholder="检查点描述"></li>
                <li><a href="javascript:;" name="run" onclick="sendrequest(this.name)" class="btn btn-primary">运行</a></li>
                <li><a href="javascript:;" name="save" id="save" onclick="sendrequest(this.name)" class="btn btn-warning">保存</a></li>
            </ul>
        </div>
        <div class="rowitem">测试脚本：</div>
        <div class="rowitem">
            <textarea id="testscriptarea" style="height:300px;width:100%"></textarea>
            <script>
                var scriptmirror = CodeMirror.fromTextArea(document.getElementById('testscriptarea'),{
                    indentUnit: 4,
                    lineNumbers: true,
                    smartIndent: true,
                    lineWrapping:true,
                    mode: "python"
                })
                scriptmirror.setSize("100%","300px")
                scriptmirror.focus()
            </script>
        </div>

        <div class="rowitem">
            <div>运行结果：</div>
            <span id="passcount" style="font-size:13px;color:green;"></span>&nbsp&nbsp<span id="failcount" style="font-size:13px;color:red;"></span>
            <textarea id="resultarea"></textarea>
            <script>
                var resultmirror = CodeMirror.fromTextArea(document.getElementById('resultarea'),{
                    indentUnit: 4,
                    lineNumbers: true,
                    lineWrapping:true,
                    mode: "python",
                    theme:"monokai"
                })
                resultmirror.setSize("100%","500px")
            </script>
        </div>
    </div>

    <div class="col-lg-3" style="padding:5px;min-height:200px;max-height:500px;overflow:scroll;OVERFLOW-X:hidden;">
        <div style="text-align:center"><button class="btn btn-info" id="newcase">新增用例</button></div>
<!-- allcasepanel begin-->
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>用例名称</th>
                    <th>归属接口</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="caselist">
            </tbody>
        </table>
<!-- allcasepanel end-->
    </div>
</div>

{% endblock %}

{% block script_index %}
    {{ super() }}
    <script src="/static/bower_components/layer/layer.js"></script>
    <script src="/static/bower_components/json/json2.js"></script>
    <script>
        $(function(){
            freshcasetable()

            sessionStorage.operation = "new"

            if(sessionStorage.operation != 'edit'){
                layer.tips('当前模式:新增用例', '#apiselect');
            }

            $(this).find("option[value="+sessionStorage.testapi_id+"]").attr("selected",true)

            $("#apiselect").change(function(){
                api_id = $(this).find("option:selected").attr("value")
                sessionStorage.testapi_id = api_id
            })

            $("#newcase").click(function(){
                $("#apiselect").removeAttr("disabled").focus()
                $(document).find("option[value=0]").attr("selected",true)
                $("#casename").val("")
                $("#casedesc").val("")
                scriptmirror.setValue("")
                sessionStorage.operation = "new"
                layer.tips('当前模式:新增用例', '#apiselect');
            })
        })

        function sendrequest(purpose){
            testscript = scriptmirror.getDoc().getValue()
            sessionStorage.testscript = JSON.stringify(testscript)

            if(purpose == "run"){
                if($("#apiselect").find("option:selected").val() == 0){
                    layer.msg("请选择接口")
                    $("#apiselect").focus()
                    return
                }else if(!testscript){
                    layer.msg("测试脚本不能为空")
                    return
                }
            }else{
                if(!$("#casename").val()){
                    layer.msg("用例名不能为空")
                    $("#casename").focus()
                    return
                }else if(!testscript){
                    layer.msg("测试脚本不能为空")
                    return
                }
            }

            resultmirror.setValue("")

            $.ajax({
                url: "/sendcaserequest",
                type: "post",
                async: true,
                data: {"apiid":sessionStorage.testapi_id,"caseid":sessionStorage.editcaseid,"script":testscript,"purpose":purpose,"name":$("#casename").val(),"desc":$("#casedesc").val()},
                error: function(request){
                    layer.msg(request.status)
                },
                success: function(data){
                    if(data.result){
                        if(purpose == "run"){
                            resultmirror.setValue(data.messages)
                            $("#passcount").html("成功:"+data.success)
                            $("#failcount").html("失败:"+data.failed)
                        }else{
                            freshcasetable()
                            layer.msg("保存成功")
                            $("#passcount").html("")
                            $("#failcount").html("")
                        }
                    }else{
                        layer.msg("请求失败:"+ data.errorMsg)
                    }
                }
            })
        }

        function freshcasetable(){
            $.ajax({
                url:"/freshcasetable",
                type:"get",
                error:function(request){
                    layer.msg(request.status)
                },
                success:function(casetable){
                    $("#caselist").empty().append(casetable)
                }
            })
        }

        function delcase(id){
            layer.confirm('确定要删除吗?',{
                btn:['确定','取消']
            },
            function(){
                $.ajax({
                    url:"/delcase/"+id,
                    type:"post",
                    error:function(request){
                        layer.msg(request.status)
                    },
                    success:function(data){
                        if(data.result){
                            layer.msg("删除成功")
                            $("#caseitem_"+id).remove()
                        }else{
                            layer.msg("删除失败:"+data.errorMsg)
                        }
                    }
                })
            },
            function(){
                layer.msg("取消删除")
            })
        }

        function editcase(caseid){
            sessionStorage.operation = "edit"
            sessionStorage.editcaseid = caseid
            $("#save").attr("name","edit")
            $.ajax({
                url:"/getcaseinfo/"+caseid,
                type:"get",
                success:function(data){
                    if(data.result){
                        layer.tips('当前模式:编辑用例'+data.name, '#apiselect');
                        $("#apiselect").attr("disabled","disabled")
                        $(document).find("option[value="+data.api_id+"]").attr("selected",true)
                        $("#casename").val(data.name)
                        $("#casedesc").val(data.desc)
                        scriptmirror.setValue(data.content)
                        sessionStorage.testapi_id = data.api_id
                    }else{
                        layer.msg("获取用例数据失败")
                    }
                }
            })
        }
    </script>
{% endblock %}
